.bg-hfrut {
    color: #ffffff;
    background-color: #29643e;
    border-color: #29643e !important;
}
.nav-bottom {
    border-bottom: 2px solid #666666;
}

.nav-item-white {
    color: #ffffff !important;
    font-size: 17px;
    font-weight: bold;
}

.contenedor-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100vw;
}

.v-padding {
    padding-top: 70px;
    padding-bottom: 60px;
}

.btn-login {
    color: #ffffff;
    background-color: #29643e;
    font-size: 16px;
}

.btn-login:hover {
    color: #ffffff;
    background-color: #41a062;
}

.fuente-header {
    letter-spacing: 1.3px;
    font-weight: 900 !important;
}

input.border-hfrut:focus {
    border-color: rgba(65, 160, 98, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(65, 160, 98, 0.6) !important;
    outline: 0 none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tab-cont {
    background: #f8fafc;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select2 {
    width: 100% !important;
}

.btn-orange {
    color: #fff;
    background-color: #da7140;
    border-color: #da7140;
}

.btn-orange:hover {
    color: #fff !important;
    background-color: #d45e28;
    border-color: #d45e28;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Seleccionar" !important;
}

// #customFile .custom-file-control:lang(en)::before {
//   content: "Click me";
// }
