// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap

@import "~bootstrap/scss/bootstrap";

// ******************************************
// *** handle bootstraps validation icons ***
// *** your's supposed to be able to set
// *** $enable-validation-icons: false; but
// *** that doesn't work for some reason ***
.form-control.is-valid {
    background-image: none;
}

.form-control.is-invalid {
    background-image: none;
    padding: $input-padding-y $input-padding-x;
}

.form-control-sm.is-valid {
    background-image: none;
}

.form-control-sm.is-invalid {
    background-image: none;
    padding: $input-padding-y-sm $input-padding-x-sm;
}

.form-control-lg.is-valid {
    background-image: none;
}

.form-control-lg.is-invalid {
    background-image: none;
    padding: $input-padding-y-lg $input-padding-x-lg;
}
// ******************************************
// @import "~select2/dist/css/select2.css";

$custom-file-text: (
    en: "Elegir",
    es: "Elegir"
);

@import "styles";
