.bg-hfrut {
    color: #ffffff;
    background-color: #29643e;
}
.nav-bottom {
    border-bottom: 2px solid #666666;
}

.nav-item-white {
    color: #ffffff !important;
    font-size: 17px;
    font-weight: bold;
}

.contenedor-centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100vw;
}

.v-padding {
    padding-top: 70px;
    padding-bottom: 60px;
}

.btn-login {
    color: #ffffff;
    background-color: #29643e;
    font-size: 16px;
}

.btn-login:hover {
    color: #ffffff;
    background-color: #41a062;
}
input.border-hfrut:focus {
    border-color: rgba(65, 160, 98, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(65, 160, 98, 0.6) !important;
    outline: 0 none !important;
}
