<template>
    <button class="btn btn-danger btn-sm mr-2" v-on:click.prevent="darDeBaja" type="button">
        <i class="fa fa-trash-alt"></i>
    </button>
</template>

<script>
export default {
    props: ["id", "ruta", "entidad"],
    methods: {
        darDeBaja() {
            this.$swal({
                title: "¿Desea dar de baja este/a " + this.entidad + "?",
                // text: "Una vez eliminada, no se puede recuperar",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, estoy seguro",
                cancelButtonText: "No"
            }).then(result => {
                if (result.isConfirmed) {
                    const params = {
                        id: this.idCliente
                    };
                    //Enviar peticion al servidor
                    axios
                        .post(`/${this.ruta}/${this.id}/eliminar`, {
                            params,
                            _method: "put"
                        })
                        .then(respuesta => {
                            this.$swal({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 1600,
                                timerProgressBar: true,
                                icon: 'success',
                                title: this.capitalize(this.entidad) +
                                    " dado de baja",
                            }).then(function () {
                                location.reload();
                            });

                            //Eliminar del DOM

                            // this.$el.parentNode.parentNode.parentNode.parentNode.removeChild(
                            //   this.$el.parentNode.parentNode.parentNode
                            // );
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            });
        },

        capitalize(word) {
            return word[0].toUpperCase() + word.slice(1);
        }
    }
};
</script>
