<template>
  <div
    class="modal fade"
    id="modalCargosEditar"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCargosLabelEditar">Editar cargo</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST" id="formCargosEditar">
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" name="_token" id="_token" />

              <label for="nombre" class="col-form-label"
                >Nombre del cargo:</label
              >
              <input
                type="text"
                name="nombre"
                id="nombreCargoEditar"
                autocomplete="off"
                required
                class="form-control"
              />

              <span
                class="invalid-feedback d-block d-none"
                role="alert"
                id="error"
              >
                <strong></strong>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" id="idCargo" name="id" />
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-success" id="prb">
              Modificar cargo
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["csrf"],
  mounted: function () {
    if (window.location.hash === "#edit") {
      $("#modalCargosEditar").modal("show");
    }
    console.log($('meta[name="csrf-token"]').attr("content"));

    $("#modalCargosEditar").on("show.bs.modal", function (event) {
      window.location.hash = "#edit";
      var button = $(event.relatedTarget);
      var recipient = button.data("nombrecargo");
      var idCargo = button.data("id");
      var modal = $(this);
      $("#idCargo").val(idCargo);
      modal.find(".modal-body input").val(recipient);
    });

    $("#modalCargosEditar").on("shown.bs.modal", function (event) {
      $("#nombreCargoEditar").focus();
    });

    $("#modalCargosEditar").on("hide.bs.modal", function (event) {
      window.location.hash = "#";
    });

    $("#formCargosEditar").submit(function (e) {
      e.preventDefault();
      var idCargo = $("#idCargo").val();
      var nombreCargo = $("#nombreCargoEditar").val();
      axios
        .post(`/cargos/${idCargo}`, {
          params,
          _method: "put",
        })
        .then((response) => {})
        .catch(function (error) {});
    });
  },
};
</script>